---
import Layout from '../layouts/Layout.astro';

import Heading from '../components/Home/Heading.jsx';
import Skills from '../components/Home/Skills.jsx';
import Projects from '../components/Home/Projects.jsx'

import '../styles/main.css';
---

<Layout title="Julian's Portfoio">
	<main>
		<Heading client:load/>
		<Skills  client:load/>
		<Projects client:load/>
	</main>
</Layout>